@using HadesPro.Models.TMBD
@model ActorDetail

<div class="media">
    <img src="@Model.profile_path" class="align-self-center mr-3" alt="...">
    <div class="media-body">
        <div class="row">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>
                            @Model.name
                        </td>
                    </tr>
                    <tr>
                        <td>Biography:</td>
                        <td>
                            @Model.biography
                        </td>
                    </tr>
                    <tr>
                        <td>Birthday:</td>
                        <td>
                            @Model.birthday
                        </td>
                    </tr>
                    <tr>
                        <td>Place of birth:</td>
                        <td>
                            @Model.place_of_birth
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>